.password-btn {
    width: 30%;
    height: 60px;
    font-size: 26px;
    cursor: pointer;
    background: linear-gradient(to bottom, #eee, #ccc);
    font-weight: bold;
    border: 2px solid #888;
    border-radius: 6px;
    color: #111;
    box-shadow: 0 3px #777;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.password-btn:hover {
    background: linear-gradient(to bottom, #d0d0d0, #a8a8a8);
}

.password-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px #555;
    background: linear-gradient(to bottom, #bcbcbc, #999);
}
